* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
}

div,
input {
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

.justify:after {
    content: '';
    display: inline-table;
    width: 100%;
    vertical-align: top;
}

.btn {
    display: inline-block;
    width: 5.26rem;
    margin-top: 1rem;
    color: #FF6000;
    line-height: 1rem;
    font-size: 0.36rem;
    background: #fff;
    border-radius: 4px;
}

.btn.primary {
    color: #fff;
    background: #FF6000;
}

a.btn:active{
    -webkit-transform: -webkit-translate(0%, 10%);
    -moz-transform: -moz-translate(0%, 10%);
    -ms-transform: -ms-translate(0%, 10%);
    -o-transform: -o-translate(0%, 10%);
    transform: translate(0%, 10%);
}
.swal2-container.swal2-shown{
    font-size: initial;
}
.swal2-popup{
    font-size: inherit;
}
/*.swal2-icon{
    width: 4em;
    height: 4em;
    margin: 0 auto 1.25em;
    line-height: 4em;
}*/
.swal2-popup .swal2-styled.swal2-confirm{
    background-color: #e94829
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 1.85em;
    width: 2.35em;
    height: .25em;
    border-radius: .125em;
    background-color: #f27474;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{
    left: 0.85em;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{
    right: 0.8em;
}
.swal2-popup .swal2-header{
    font-size: 0;
}

.swal2-popup .swal2-actions{
    margin: 0 auto 0;
}