html,
body,
#container {
    height: 100%;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    line-height: 0.8rem;
    z-index: 140;
    img {
        width: 0.36rem;
        margin: 0 0.2rem;
        vertical-align: -0.06rem;
    }

    p {
        font-size: 0.28rem;

        &:first-child {
            display: none;
            font-weight: bold;
            line-height: 1rem;
            border-bottom: 1px solid #ccc;

            span {
                color: #FF6600;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0
}

.open-lock,
.opener {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.open-lock {
    display: none;
    z-index: 10000;
    .opener {
        background: #fff;
        height: 4.42rem;
        margin: auto auto 0 auto;
        z-index: 10000;

        .circle {
            width: 3rem;
            height: 3rem;
            border: 10px solid #e7e7e7;
            border-radius: 100%;
            margin: 0 auto;
            margin-top: 0.7rem;
            text-align: center;

            p:first-child {
                font-size: 0.64rem;
                line-height: 0.78rem;
                color: #FF6000;
                margin-top: 25%;

                &+p {
                    font-size: 0.28rem;
                    color: #FF6000;
                    line-height: 0.4rem;
                }
            }

            canvas {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 3rem;
                height: 3rem;
                margin-top: 0.7em;
            }
        }
    }
}

.returnCar {
    display: none;
    position: absolute;
    left: 0.4rem;
    bottom: 2.2rem;
    font-size: 0;

    img {
        width: 0.68rem;
    }
}

.remind,
.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.remind {
    display: none;
    z-index: 9999;
    .content {
        height: 4.26rem;
        padding: 0 0.5rem;
        margin: auto 0.4rem;
        background: #fff;
        border-radius: 6px;

        p {
            color: #333;
            font-size: 0.36rem;
            line-height: 0.5rem;

            &:first-child {
                margin-top: 1rem;
            }
        }

        .buttons {
            text-align: justify;
            font-size: 0;

            .btn {
                width: 2.4rem;
                line-height: 0.8rem;
                border: 1px solid #ff6000;
                border-radius: 4px;
                text-align: center;

                &+.btn {
                    color: #fff;
                    background: #ff6000
                }
            }
        }
    }
}

.dialog-container{
    &,section{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }
}
.dialog-container{
    display: none;
    z-index: 10000;
    section{
        width: 6.7rem;
        height: 4.8rem;
        margin: auto;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        font-size: 0;
        &>p:nth-of-type(1){
            font-size: .36rem;
            line-height: .5rem;
            margin-top: -0.18rem;
        }
        &>p>img{
            width: 3.3rem;
        }
        &>img{
            position: relative;
            width: 1.2rem;
            top: -0.48rem;
        }
        .btn{
            position: relative;
            width: 5.6rem;
            color: #fff;
            line-height: .8rem;
            margin-top: 0;
            background-color: #FF6000;
            border-radius: 4px;
        }
    }
}